= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag 'preview', media: 'all', 'data-turbolinks-track': 'reload'

%body
  %header
    = image_tag('logo_decathlon.png')
  %h1=params[:item][:name]

  %article
    %aside
      %figure
        %div#wrapper
          = image_tag('varranty2.png', class: 'varranty')
          = image_tag(params[:item][:image])
        %figcaption
          %p.articulus= params[:item][:articulus]
          .price
            %p= params[:item][:price]
            %small руб.

    %section
      -@avantages.each do |avant|
        %figure
          = image_tag(avant[:icon])
          %figcaption
            %strong= avant[:title]
            %span= avant[:description]
//  -console