= stylesheet_link_tag 'startpage', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track': 'reload'

%header
  %h1="Генератор бализажей"

%section
  = form_for $url, url: { action: 'edit', controller: 'edit' } do |f|
    %h2="Ссылка на товар в decathlon:"
    = f.text_field :url, placeholder: "https://www.decatholon.ru/..."
    = submit_tag 'Получить данные'
