= javascript_include_tag 'edit', 'data-turbolinks-track': 'reload'
- @activityName = 'create_balisage'

#wrapper.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
	= render 'layouts/header'

	%header.mdl-layout__header
		.mdl-layout__header-row
			%span.mdl-layout-title Параметры бализажа
			.mdl-layout-spacer
			%nav.mdl-navigation
				//.mdl-layout--large-screen-only
				= link_to "< В начало", { controller: :start }, data: { turbolinks: false },
				 class: 'mdl-button mdl-js-button mdl-js-ripple-effect'

	%main
	
		= form_for @item, url: { action: :print }, html: { id: :form } do |f|
			%h2 Основные данные товара:
			%figure#item_data.mdl-color--light-blue-300

				%aside#item_image.item_image
					= f.hidden_field :image, value: @data_from_page[ :image ]
					= label_tag :image, "Изображение"
					= image_tag( @data_from_page[ :image ] )
					=# label_tag :image, "Загрузить новое изображение:"
					=# f.file_field :image, accept: 'image/png,image/gif,image/jpeg'
				
				%figcaption
					.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
						= f.text_field :name, value: @data_from_page[ :name ], class: 'mdl-textfield__input' # 28 syms
						= label_tag :name, "Наименование (не более 26 символов):", class: 'mdl-textfield__label'

					.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
						= f.text_field :articulus, value: @data_from_page[ :articulus ], class: 'mdl-textfield__input', pattern: '[0-9]*'
						= label_tag :articulus, "Артикул:", class: 'mdl-textfield__label price'
						%span.mdl-textfield__error= "Допускаются только цифры!"

					.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
						= f.text_field :old_price, value: @data_from_page[ :price ], class: 'mdl-textfield__input price', pattern: '[0-9]*'
						= label_tag :old_price, "Цена в рублях:", class: 'mdl-textfield__label'
						%span.mdl-textfield__error= "Допускаются только цифры!"

					%label#newPriceToggler.mdl-switch.mdl-js-switch
						//{ onchange: 'toggleNewPrice()' }
						= check_box_tag 'addedNewPrice', 'true', false, class: 'mdl-switch__input'
						%span.mdl-switch__label
						%small Указать изменение цены

					#newPrice.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.hidden
						= text_field_tag 'item[new_price]', nil, class: 'mdl-textfield__input price', pattern: '[0-9]*'
						= label_tag :new_price, "Новая цена в рублях:", class: 'mdl-textfield__label'
						%span.mdl-textfield__error= "Допускаются только цифры!"

			#avantages
				%h2 Характеристики:
				%small (рекомендуется не более трёх)
				- @avantages_from_page.each do |avantage|
					%figure.mdl-color--light-blue-300

						%aside
							= label_tag :icon, "Иконка"
							= hidden_field_tag 'item[avantages][][icon]', avantage[ :icon ]
							= image_tag( avantage[ :icon ], id: :CurrentIconShower )

							%label#newIconToggler.mdl-switch.mdl-js-switch{ onchange: 'toggleNewIcon(event)' }
								= check_box_tag 'new_price_is_added', 'true', false, class: 'mdl-switch__input'
								%span.mdl-switch__label
								%small Заменить иконку

							#newIcon.mdl-list.hidden
								%li.mdl-list__item
									%figure.mdl-color--light-blue-500.selectIcon{ onclick: 'selectIcon(event)' }
										%img{ src: avantage[ :icon ] }

						%figcaption

							%button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--raised.mdl-button--accent{ onclick: 'this.parentNode.parentNode.remove()' }
								%i.material-icons.left delete
								удалить

							.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
								= text_field_tag 'item[avantages][][title]', avantage[ :title ], class: 'mdl-textfield__input title'
								= label_tag :title, "Заголовок (не более 20 символов):", class: 'mdl-textfield__label'

							.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
								= text_field_tag 'item[avantages][][description]', avantage[ :description ], class: 'mdl-textfield__input description'
								= label_tag :description, "Описание (не более 25 символов):", class: 'mdl-textfield__label'

			%a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored.widebtn{ onclick: 'add_avant()' }= "добавить характеристику"

			%menu
				%h2 Размер бализажа:
				= radio_button_tag :balisage_size, "A3" 
				=				 label_tag :balisage_size_A3, "A3"
				= radio_button_tag :balisage_size, "A4", true
				=				 label_tag :balisage_size_A4, "A4"
				= radio_button_tag :balisage_size, "A5" 
				=				 label_tag :balisage_size_A5, "A5"
				= radio_button_tag :balisage_size, "A6" 
				=				 label_tag :balisage_size_A6, "A6"

			= button_tag "сформировать шаблон", value: 'generate()',
			 class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored widebtn'