= stylesheet_link_tag 'config', media: 'all', 'data-turbolinks-track': 'reload'

%header
	%h1 Параметры бализажа
	%small Decathlon Helper v.2.5.2 Beta

	%nav
		= link_to "< В начало", { controller: :start }, class: [ :button, :button_small ]

%section
	= form_for @item, url: { action: :generate }, html: { id: :form } do |f|
		%h2 Основные данные товара:
		%figure.item_data
			%aside.item_image
				= label_tag "Изображение"
				= image_tag(@data_from_page[:image])
				= f.hidden_field :image, value: @data_from_page[:image]
			%figcaption
				= label_tag "Наименование"
				= f.text_field :name, value: @data_from_page[:name]# 28 syms
				= label_tag "Артикул"
				= f.text_field :articulus, value: @data_from_page[:articulus]
				= label_tag "Цена в рублях"
				= f.text_field :price, value: @data_from_page[:price]

		%avantages#avants
			%h2 Характеристики:
			-@avantages_from_page.each do |avantage|
				%figure
					%aside.avant_icon
						= label_tag "Иконка"
						= image_tag(avantage[:icon])

					%figcaption
						%a.button.button_small{ onclick: 'this.parentNode.parentNode.remove()' } [x] Удалить
						%input{ name: 'item[avantages][][icon]', type: :hidden, value: avantage[:icon] }
						= label_tag "Заголовок"
						%input.title{ name: 'item[avantages][][title]', type: :text, value: avantage[:title] }
						= label_tag "Описание"
						%input.description{ name: 'item[avantages][][description]', type: :text, value: avantage[:description] }

		%a.button{ onclick: 'avant_add()' } Добавить характеристику

		%menu
			%h2 Размер бализажа:
			= radio_button_tag( :balisage_size, "A3" )
			=				 label_tag( :balisage_size_A3, "A3" )
			= radio_button_tag( :balisage_size, "A4", html: :checked )
			=				 label_tag( :balisage_size_A4, "A4" )
			= radio_button_tag( :balisage_size, "A5" )
			=				 label_tag( :balisage_size_A5, "A5" )
			= radio_button_tag( :balisage_size, "A6" )
			=				 label_tag( :balisage_size_A6, "A6" )

		= f.submit "Сформировать шаблон", class: :button