= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag 'dropdown', media: 'all', 'data-turbolinks-track': 'reload'

%header
  %h1 ГЕНЕРАТОР БАЛИЗАЖЕЙ

%section
  %h1 Редактирование шаблона
  = link_to "<< В начало", { controller: :start }, class: 'button yellow_button'
  %ln
  = form_for @item, url: { action: :generate }, html: { id: :form } do |f|
    = f.hidden_field :image, value: @data_from_page[:image]
    %h2 Основные данные:
    = f.label "Наименование товара", class: :item
    = f.text_field :name, value: @data_from_page[:name], class: :item
    = f.label "Артикул", class: :item
    = f.text_field :articulus, value: @data_from_page[:articulus], class: :item
    = f.label "Цена в рублях", class: :item
    = f.text_field :price, value: @data_from_page[:price], class: :item
    %br
    %ln

    %avantages#avants
      %h2 Характеристики:
      -@avantages_from_page.each do |avantage|
        %figure

          %aside
            %label Иконка
            #dropdown{ class: 'wrapper-dropdown' }
              %span
                = image_tag(avantage[:icon])

          %figcaption
            %a{ onclick: 'this.parentNode.parentNode.remove()', class: 'button-delete' } [x] Удалить
            %input{ name: 'item[avantages][][icon]', type: :hidden, value: avantage[:icon] }
            %label Заголовок
            %input{ name: 'item[avantages][][title]', type: :text, value: avantage[:title], class: :title }
            %label Описание
            %input{ name: 'item[avantages][][description]', type: :text, value: avantage[:description], class: :description }

    %a{ onclick: 'avant_add()', class: 'button blue_button' } Добавить характеристику
    %ln
    
    %menu
      %h2 Размер бализажа:
      = radio_button_tag(:balisage_size, "a3")
      = label_tag(:balisage_size_a3, "A3")
      = radio_button_tag(:balisage_size, "a4", html: :checked)
      = label_tag(:balisage_size_a4, "A4")
      = radio_button_tag(:balisage_size, "a5")
      = label_tag(:balisage_size_a5, "A5")
      = radio_button_tag(:balisage_size, "a6")
      = label_tag(:balisage_size_a6, "A6")

    = f.submit "Сформировать шаблон", :class => 'button blue_button'