- @activityClass = 'about'

#wrapper.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
	= render 'layouts/header'

	%header.mdl-layout__header
		.mdl-layout__header-row
			%span.mdl-layout-title О программе
			.mdl-layout-spacer
			%nav.mdl-navigation
				= link_to "< В начало", { controller: :start }, class: 'mdl-button mdl-js-button mdl-js-ripple-effect'

	%main
		%h2 Web-приложение Decathlon Helper - генератор бализажей и таблиц сравнения.
		%p Целевая клиентская программа - браузер Chromium и его производные - Google Chrome, Opera, Yandex.Browser.
		%p На текущем этапе корректное отображение web-интерфейса на других браузерах не гарантируется.
		%p В данный момент ведётся активная разработка и наращивание функцонала приложения.

		%h2 Контакты разработчика:
		#contacts
			%figure.mdl-color--teal-500.contact
				%small Электронная почта
				%aside
					= image_tag('email.png')
				%figcaption
					= mail_to "marsixsoft@yahoo.com", "Написать письмо",
					 class: 'btn_nav mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored'

			%figure.mdl-color--teal-500.contact
				%small Профиль на weblancer
				%aside
					= image_tag('wl.png')
				%figcaption
					= link_to "открыть", 'http://www.weblancer.net/users/rubyonrails', target: :_blank,
					 class: 'btn_nav mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored'
	