= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track': 'reload'

%header
	%nav
		= link_to "< В начало", { controller: :start }, class: [ :button, :button_small ]
	%h1 О программе

%section
	%h2 Автор

	%figure{ class: [ :contact, :small ] }
		%aside
			= image_tag('email.png')
		%figcaption
			%label Электронный адрес
			= mail_to "marsixsoft@yahoo.com", "marsixsoft@yahoo.com", class: :button

	%figure{ class: [ :contact, :small ] }
		%aside
			= image_tag('vk.png')
		%figcaption
			%label vk.com
			= link_to "Открыть страницу", 'https://vk.com/m2aco', class: :button, target: :_blank
	