= stylesheet_link_tag 'customization', media: 'all', 'data-turbolinks-track': 'reload'
- @activity_name = 'about'

%header
	%h1 О программе
	%small= "Decathlon Helper v." + $version + " Beta"

	%nav
		= link_to "< В начало", { controller: :start }, class: [ :button, :button_small ]

%section
	%h2 Автор

	%contacts
		%figure.contact.small
			%aside
				= image_tag('email.png')
			%figcaption
				= mail_to "marsixsoft@yahoo.com", "Написать письмо", class: :button

		%figure.contact.small
			%aside
				= image_tag('vk.png')
			%figcaption
				= link_to "Открыть страницу", 'https://vk.com/m2aco', class: :button, target: :_blank
	