= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track': 'reload'

%header
	%nav
		= link_to "О программе", { action: :about }, class: [ :button, :button_small ]
		= link_to "Каталог иконок", { controller: :icons }, class: [ :button, :button_small ]
	%h1 Главный экран
	%small Decathlon helper v.2.4 Beta

%section
	= form_for $url, url: { action: :edit, controller: :balisage } do |f|
		%h2 Ссылка на товар в decathlon:
		= f.text_field :url, placeholder: "https://www.decathlon.ru/..."
		= f.submit "Получить данные", class: :button

	= link_to "Открыть decathlon.ru", 'http://decathlon.ru', class: :button, target: :_blank