= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track': 'reload'

%header
	%h1 ГЕНЕРАТОР БАЛИЗАЖЕЙ

%section
	= form_for $url, url: { action: :edit, controller: :balisage } do |f|
		%h2 Ссылка на товар в decathlon:
		= f.text_field :url, placeholder: "https://www.decatholon.ru/..."
		= f.submit "Получить данные", class: 'button blue_button'

	= link_to "Менеджер иконок", { controller: :icons }, class: :button
	= link_to "Открыть decathlon.ru", "http://decathlon.ru", class: :button, target: :_blank