= stylesheet_link_tag 'customization', media: 'all', 'data-turbolinks-track': 'reload'
- @activity_name = 'main'

%header
	%h1 Главный экран
	%small= "Decathlon Helper v." + $version + " Beta"

	%nav
		= link_to "О программе", { action: :about }, class: [ :button, :button_small ]
		= link_to "Каталог иконок", { controller: :icons }, class: [ :button, :button_small ]

%section.startpage
	= form_for $url, url: { action: :edit, controller: :balisage } do |f|

		= f.label :url, "Ссылка на товар в decathlon"
		#url
			= f.text_field :url, placeholder: "https://www.decathlon.ru/..."
			= f.submit "> Получить данные", class: :button

		= link_to "Открыть decathlon.ru", 'http://decathlon.ru', class: :button, target: :_blank