- @activity_name = 'comparsion_table'

#wrapper.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
	= render 'layouts/header'

	%header.mdl-layout__header
		.mdl-layout__header-row
			%span.mdl-layout-title Создание таблицы сравнений
			.mdl-layout-spacer
			%nav.mdl-navigation.mdl-layout--large-screen-only
			%nav.mdl-navigation.mdl-layout--large-screen-only
				= link_to "< В начало", { controller: :start }, data: { turbolinks: false }, class: 'mdl-button mdl-js-button mdl-js-ripple-effect'

	.mdl-layout__drawer
	%main.mdl-color--grey-50

		= form_for $url, url: { action: :edit, controller: :balisage } do |f|
			#enter_url.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				= f.text_field :url, class: 'mdl-textfield__input'
				= label_tag :url, "Ссылка на товар в decathlon:", class: 'mdl-textfield__label'
			= button_tag "получить данные",
			 class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored'