- @activityName = 'printTable'

#wrapper.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
	%main#printComparsion
		#comparsionTableView
			- unless params[ :table ][ :title ].nil?
				= image_tag( '/assets/2076bf.png', class: :velo )
				%h1= params[ :table ][ :title ]

			#main.tableRow
				#nullCell.bordered
					=image_tag '/assets/nullCell.png'

				- @items.each do |item|
					%figure.bordered.mainInfoCell
						%p.itemName= item[ :name ]
						= image_tag( item[ :image ] )

						= image_tag( 'yllw.png', class: :velo )
						%figcaption
							%small.itemArticulus=	item[ :articulus ]
							.priceDiv
								%p.itemPrice=	item[ :price ]
								%small РУБ.

			#avantages
				- @avantages.each do |avantage|
					#avantage.avantage.tableRow
						.keyCell.bordered.tableRow
							%p= avantage[ :key ]

						- avantage[ :values ].each do |value|
							.valueCell.bordered.tableRow
								%p= value
