- @activityClass = 'icons'

#wrapper.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
	= render 'layouts/header'

	%header.mdl-layout__header
		.mdl-layout__header-row
			%span.mdl-layout-title Галерея иконок
			.mdl-layout-spacer
			%nav.mdl-navigation
				//.mdl-layout--large-screen-only
				= link_to "< В начало", { controller: :start }, data: { turbolinks: false },
				 class: 'mdl-button mdl-js-button mdl-js-ripple-effect'

	%main

		%h2 Загрузка новой:
		= form_for @icon, url: { action: :create } do |f|
			#newImage
				= f.file_field :url
				= f.submit "Отправить",
				 class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored'


		%h2 Загруженные ранее:
		#viewImages
			-@icons.each do |icon|
				%figure.icon.mdl-color--light-blue-500{ id: icon.id }
					%aside
						%img{ src: icon.url }
					%figcaption
						= link_to "удалить", '/icons/'+icon.id.to_s, method: :delete, data: { confirm: "Вы уверены?" },
						 class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'