= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track': 'reload'

%header
  %h1 ГЕНЕРАТОР БАЛИЗАЖЕЙ

%section
  %h1 Менеджер иконок
  = link_to "<< В начало", { controller: :start }, class: 'button button-small'
  = form_for @icon, url: { action: :create }, html: { id: :form } do |f|
    %h2 Загрузка новой иконки:
    %label Выбор файла
    = f.file_field :url
    = f.submit "Отправить", class: 'button button-small'

  %h2 Загруженные ранее:
  %icons
    -@icons.each do |icon|
      %figure{ id: icon.id, class: :icon }
        %aside
          %img{ src: icon.url }
        %figcaption
          = link_to "[x] Удалить", icons_path(icon), method: :destroy, data: { confirm: "Вы уверены?" },
           class: 'button button-delete'