= stylesheet_link_tag 'config', media: 'all', 'data-turbolinks-track': 'reload'

%header
	%h1 Управление иконками
	%small Decathlon Helper v.2.5.2 Beta

	%nav
		= link_to "< В начало", { controller: :start }, class: [ :button, :button_small ]

%section
	= form_for @icon, url: { action: :create }, html: { id: :form } do |f|
		%h2 Загрузка новой иконки:
		= f.file_field :url, class: [ :send_file, :send_icon ]
		= f.submit "Отправить", class: [ :button, :send_icon ]

	%h2 Загруженные ранее:
	%icons
		-@icons.each do |icon|
			%figure{ id: icon.id }
				%aside
					%img{ src: icon.url }
				%figcaption
					= link_to "[x] Удалить", icons_path(icon), method: :destroy, data: { confirm: "Вы уверены?" },
					 class: [ :button, :button_small ]