!!! 5

- unless @activityName.include?('api--')
	%title Decathlon Helper
	= csrf_meta_tags
	= favicon_link_tag '/favicon.ico', rel: 'shortcut icon'

- if @activityName == 'createComparsion'
	= javascript_include_tag 'createComparsion', 'data-turbolinks-track': 'reload'

- if @activityName == 'printTable'
	= stylesheet_link_tag 'print/table', media: 'all', 'data-turbolinks-track': 'reload'

- unless @activityName == 'print_balisage' or @activityName.include?('api--')
	= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
- else

	- if @activityName == 'print_balisage'
		= stylesheet_link_tag 'print/preview', media: 'all', 'data-turbolinks-track': 'reload'
		-case params[:balisageFormat]
			-when 'A3'
				= stylesheet_link_tag 'print/A3', media: 'all', 'data-turbolinks-track': 'reload'
			-when 'A4'
				= stylesheet_link_tag 'print/A4', media: 'all', 'data-turbolinks-track': 'reload'
			-when 'A5'
				= stylesheet_link_tag 'print/A5', media: 'all', 'data-turbolinks-track': 'reload'
			-when 'A6'
				= stylesheet_link_tag 'print/A6', media: 'all', 'data-turbolinks-track': 'reload'


- unless @activityName.include?('print')
	%body
		= yield
- else
	%body{ onload: 'print()' }
		= yield