!!! 5

- unless @activityClass.include?('api/')
	%title Decathlon Helper
	= csrf_meta_tags
	= favicon_link_tag '/favicon.ico', rel: 'shortcut icon'


- if @activityClass == 'createComparsionTable'
	= javascript_include_tag 'createComparsionTable', 'data-turbolinks-track': 'reload'


- if @activityClass == 'createBalisage'
	= javascript_include_tag 'createBalisage', 'data-turbolinks-track': 'reload'


- if @activityClass == 'print/comparsionTable'
	= stylesheet_link_tag 'print/comparsionTable', media: 'all', 'data-turbolinks-track': 'reload'


- unless @activityClass.include?('print/balisage') or @activityClass.include?('api/')

	= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'


- else case @activityClass

	-	when 'print/balisage'

		= stylesheet_link_tag 'print/balisagePreview', media: 'all', 'data-turbolinks-track': 'reload'

		-	case params[:balisageFormat]

			-	when 'A3'
				= stylesheet_link_tag 'print/balisageA3', media: 'all', 'data-turbolinks-track': 'reload'
			-	when 'A4'
				= stylesheet_link_tag 'print/balisageA4', media: 'all', 'data-turbolinks-track': 'reload'
			-	when 'A5'
				= stylesheet_link_tag 'print/balisageA5', media: 'all', 'data-turbolinks-track': 'reload'
			-	when 'A6'
				= stylesheet_link_tag 'print/balisageA6', media: 'all', 'data-turbolinks-track': 'reload'
			-	when 'A7'
				= stylesheet_link_tag 'print/balisageA7', media: 'all', 'data-turbolinks-track': 'reload'

	-	when 'print/balisageWideformat'
	
		= stylesheet_link_tag 'print/balisageWideformatPreview', media: 'all', 'data-turbolinks-track': 'reload'
		= stylesheet_link_tag 'print/balisageWideformat', media: 'all', 'data-turbolinks-track': 'reload'



- unless @activityClass.include?('print')
	%body
		= yield


- else
	%body{ onload: 'print()' }
		= yield